*{
	padding: 0px;
	margin: 0px;

}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;

}
h1, h2, h3, h4, h6{
	font-family: 'Poppins', sans-serif;

}
a{
	text-decoration: none;

}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;

}
.container{
	width: 1140px;
	margin: 0px auto;

}
.margin{
	width: 1140px;
	margin: 0px auto;

}
.row{
	width: 100%;
	float: left;

}
/* global css coad start */
.col-12{
	width: 100%;
	float: left;

}
.col-6{
	width: 50%;
	float: left;
}
.col-4{
	width: 33.33%;
	float: left;

}
.col-3{
	width: 25%;
	float: left;

}
/*golobal css coad end*/
/*header coad start*/
.header{
	width:100%;
	float: left;
	padding:15px 0px ;
	border-bottom: 1px solid #eee;
	position: fixed;
	background: #fff;
	
}
.header .logo{
	width: 100%;
	float: left;

}
.header .logo img{
	width: auto;

}
.header .navbar{
	width: 100%;
	float: left;
	text-align: right;



}
.header .navbar li{
	list-style: none;
	display: inline-block;

}
.header .navbar li a{
	display: block;
	margin:10px 0px 0px 25px;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #0F2656;
	text-transform: capitalize;
}
.header .navbar li a:hover{
	color: #008AFf;

}
/*banner coad start*/
.banner{
	width: 100%;
	float: left;
	padding: 80px 0px;
	text-align: center;
}
.banner h1{
font-size: 54px;
line-height: 64px;
font-weight: 700;
color: #0f2656;
margin:0px 0px 10px;
}
.banner h1 span{
color:#008AFF ;
}
.banner p{
	margin:0px 0px 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #0F2656;
}
.banner img{
	width: 60%;

}
/*banner coad end*/
/*sucess coad start*/
.success{
	width: 100%;
	float: left;
	padding: 40px 0px;

}
.success-left{
	width: 100%;
	float: left;
	text-align: right;

}
.success-left h1{
font-size: 54px;
line-height: 64px;
font-weight: 600;
color: #F15767;
margin:0px 10px 10px 0px;
}
.success-left p{
	margin:0px 20px 10px 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #0F2656;
}
.success-right{
	width: 100%;
	float: left;
}
.success-right h1{
	font-size: 54px;
line-height: 64px;
font-weight: 600;
color: #0F2656;
margin:0px 20px 10px 0px;
}


/*sucess coad end*/
/*feature coad start*/
.feature{
	width: 100%;
	float: left;
	padding: 50px 0px 80px;
}
.inner-feature{
width: 78%;
padding: 60px 30px;
/*background:#FDEBED ;*/
margin: 0px 15px;

}
.inner-feature img{
width: 100%;
height: 190px;

}
.inner-feature h4{
margin:0px 20px 10px 0px;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0F2656;
}
.inner-feature p{
margin:0px 0px 10px 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #0F2656;
}
.bg-1{
	background: #FDEBED;

}
.bg-2{
	background:#EBF9F4 ;

}
.bg-3{
	background: #FFF7E8;

}
/*feature coad end*/
.footer{
	width: 100%;
	float: left;
	padding:20px 0px;
	background: #008aff;
	text-align: center;

}
.footer p{
	font-size: 14px;
	line-height: 24px;
	color: #f0f0f0;

}
.footer p a{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;

}
/*header coad end*/